/* header */
.header {
  background-image: url("../images/header_img.png");
  background-repeat: no-repeat;
  width: 100%;
  min-height: 252px;
  border-radius: 15px;
  box-shadow: 0 0 12px 7px rgba(92, 106, 127, 0.07);
  background-color: white;
  -webkit-app-region: drag;
  -webkit-user-select: none;
}

.header .menu {
  padding: 15px 15px 0 0;
  text-align: right;
  -webkit-app-region: no-drag;
}

.header .menu img {
  width: 17px;
  height: auto;
  margin-left: 20px;
  cursor: pointer;
}

.header .title {
  margin-left: 90px;
}

/* message, notification, view all */
.content .message {
  padding: 16px 30px 0 30px;
  display: flex;
}

.content .message .left,
.content .message .right {
  color: #333333;
  width: 50%;
}

.content .message .left {
  display: inline-flex;
}

.content .message .right {
  text-align: right;
}

.content .message .left h3 {
  margin: 0;
  color: #333333;
  font-size: 14px;
}

.content .message .left .unread {
  width: 20px;
  height: 20px;
  color: white;
  background: #ff0000;
  border-radius: 100%;
  text-align: center;
  margin-left: 5px;
}

.content .message .right button,
.content .message .right button:active {
  border: none;
  background: transparent;
  color: #2e61ff;
  cursor: pointer;
  outline: none;
}

/* .content .message .right button:focus {
  border: 2px solid white;
} */

/* list */
.list-item {
  border-radius: 11px;
  box-shadow: 0px 7px 8px 0px rgba(27, 40, 51, 0.08);
  background: white;
  margin: 21px 12px;
}

.list-item .item-header {
  padding: 16px;
  display: flex;
  color: #5f6470;
}

.list-item .item-header div {
  width: 18px;
  height: 18px;
  min-width: 18px;
  background: #f7931e;
  border-radius: 100%;
}

.list-item .item-header p {
  margin: 0;
  margin-left: 10px;
  font-size: 14px;
  width: 100%;
}

.list-item .item-desc {
  padding: 0 16px 16px 16px;
  color: #141414;
  font-size: 14px;
}
